.an-no-hpadding {
    padding-bottom: 0;
    padding-top: 0;
}

.an-centered {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.an-not-impl {
    width: 40%;
    height: 32px;
}

.an-main-nav {
    width: 15%;
    height: 128px;
}

.an-main-nav-button {
    margin: 5px 0;
}

.mdl-button {
    width: 100%;
}

.mdl-grid {
    padding-top: 0;
    padding-bottom: 0;
}

.mdl-cell {
    margin-bottom: 0;
    margin-top: 0;
}

.an-small-chart {
    height: 512px;
}

.an-full-width {
    width: 100%;
}

.an-cube-1024 {
    width: 1024px;
    height: 1024px;
}

.an-heigth-256 {
    height: 256px;
}